<% if @tasks.any? %>
    <div style="margin-top: 20px">
      <%= form_for(:filters, url: root_path, method:'GET', :html=>{:id=>'filterForm'}) do |f| %>
      Filter By Priorities :
      <%= select_tag "filter", options_for_select(ApplicationHelper::PriorityValues),:include_blank => true,  :onchange=> "$('#filterForm').submit()" %>


      <% end %>

    </div>

    <ol class="tasks">
      <% @tasks.each do |open_task| %>
          <li id="<%= open_task.id %>">
            <span class="content"><%= open_task.description %> </span>
            <span class="priority">Priority:<%= open_task.priority %></span>


            <span class="timestamp">
       Deadline Date : <%= open_task.deadline %>
    </span>

            <% if @tag == nil %>
            <%= link_to "Mark As Done ", '/tasks/mark-as-done?' + {id:open_task.id}.to_param, method: :post %>
                <% elsif @tag == 'done' %>
                <%= link_to "Reopen Task", '/tasks/mark-as-done?' + {id:open_task.id}.to_param, method: :post %>
                <%= link_to "Mark As Archive ", '/tasks/mark-as-archive?' + {id:open_task.id}.to_param, method: :post %>

          <% end %>

            <span class="timestamp">
      Posted <%= time_ago_in_words(open_task.created_at) %> ago.
    </span>

          </li>
      <% end %>

    </ol>

<% end %>